*{
    font-family: sans-serif;
}
.ContainerFourth{
    background-color: #383a82;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 3rem;
    color: white;
    padding: 3rem;
}
.Areaheader{
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 4px;
}
.Areaheader:hover{
    opacity: .5;
}
.box-Area{
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 2rem;
}
.Areabtn{
    display: flex;
    flex-flow: column;
    width: 20%;
}
.Areatxt{
    display: flex;
    flex-flow: column;
    gap: 2rem;
    width: 50%;
}
.Areatxt p{
    opacity: .5;
    letter-spacing: 1px;
}
.Areatxt h2{
    display: flex;
    opacity: .8;
    font-size: 25px;
}
.Areatxt h3{
    font-size: 18px;
    font-weight: 100;
}
.Areatxt h4{
    color: aqua;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
}
.Areatxt-header{
    display: flex;
    justify-content: space-between;
}
.Areabtn button{
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    border-left: 3px solid #554c86;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
.Areabtn button:hover{
    background-color: #554c86;
    transition: all .5s ease-in-out;
}

.btnbtn.active{
    border-left: 3px solid aqua;
}

@media (max-width: 768px){
    .box-Area{
        width: 100%;
    }
}

@media (max-width: 425px){
    .ContainerFourth {
        gap: 1.5rem;
        height: 100%;
        padding: 3rem;
    }
    .Areaheader h1{
        font-size: 25px;
    }
    .box-Area{
        width: 95%;
    }
    .Areabtn {
        flex-flow: unset;
        width: 100%;
    }
    .box-Area {
        flex-flow: column;
    }
    .Areatxt {
        width: 100%;
        gap: 1rem;
    }
    .Areatxt h2 {
        font-size: 20px;
    }
    .box-Area {
        gap: 1rem;
    }
}